<ion-header class="ion-no-border">
  <ion-toolbar translucent> <span class="ion-padding" style="color: aliceblue;">PROFIL</span>
    <ion-button slot="end" style="font-size: 0.9em" fill="clear" color="" (click)="edit()">
      <i class="fa-solid fa-pen-to-square fa-2xl" style="color: ghostwhite;"></i>
      </ion-button>
    <!-- <ion-button slot="end" style="font-size: 0.9em" fill="clear" color="light" (click)="logout()">
      <i class="fa-duotone fa-right-from-bracket fa-2xl" style="color: ghostwhite;"></i>
    </ion-button> -->
    <ion-button slot="start" style="font-size: 0.9em" fill="clear" color="light" (click)="back()">
      <i class="fa-solid fa-angle-left fa-2xl" style="color: ghostwhite;"></i>
    </ion-button>
  </ion-toolbar>
 
</ion-header>




<ion-content>
  <ion-content class="background">
    <div class="content">
      <ion-card>
        <ion-card-content class="ion-text-center" style="box-shadow: 15rem;">
          <img style="border-radius: 1000px; height: 100px; width: 100px;" src="/assets/image/mypic.jpg" />
          <h5 class="ion-text-center" style="color: black;">NURUL ASIKIN CHE HAMZAH</h5>
         <!-- <div>
          <ion-item>
            <ion-label position="stacked">No Telefon Bimbit</ion-label>
            <ion-input>0169650859</ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">No Telefon Bimbit</ion-label>
            <ion-input>0169650859</ion-input>
          </ion-item><ion-item>
            <ion-label position="stacked">No Telefon Bimbit</ion-label>
            <ion-input>0169650859</ion-input>
          </ion-item><ion-item>
            <ion-label position="stacked">No Telefon Bimbit</ion-label>
            <ion-input>0169650859</ion-input>
          </ion-item><ion-item>
            <ion-label position="stacked">No Telefon Bimbit</ion-label>
            <ion-input>0169650859</ion-input>
          </ion-item><ion-item>
            <ion-label position="stacked">No Telefon Bimbit</ion-label>
            <ion-input>0169650859</ion-input>
          </ion-item>
        </div> -->
      <div class="buttons-action" style="color: black; text-align: center;"> 
        <ion-input placeholder="0169650859"></ion-input>
        <ion-input placeholder="scorpio_nuyu@yahoo.com"></ion-input>
        <ion-input placeholder="V2-02-03,SUBANG PERDANA COURT 9"></ion-input>
        <ion-input placeholder="PERSIARAN MULIA USJ14"></ion-input>
        <ion-input placeholder="USJ,SUBANG JAYA"></ion-input>
        <ion-input placeholder="47630"></ion-input>
        <ion-input placeholder="SUBANG JAYA"></ion-input>
        <ion-input placeholder="SELANGOR DARUL EHSAN"></ion-input>
        <!-- <ion-button (click)="Daftar()" class="" expand="block" fill="solid" color="primary" style="text-transform: none;"> KEMASKINI </ion-button> -->
      </div> 

      
    </ion-card-content>
     </ion-card> 
      
    </div>
  </ion-content>
  

