ion-toolbar {
  --background: #032b91;
 
}

ion-content {
  --background: url(/assets/image/background.jpg) 0 0/100% 100% no-repeat;
  }
ion-footer {
--background: #032b91;
}
// form {
//   text-align: center;
// }
ion-input{ 
  .text-input{ text-align: center; }
}
.content{
  position: relative;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1px;
}
.buttons-action{
  text-align: center;
}
.signup-text{
  font-size: large;
  color:#080101;
  text-align: center;
  font-family: 'Arial', Arial;
  text-transform: none;
}
ion-input{
  background-color: #ededed;
  border-radius: 5px;
  font-size: small;
}
.actionbutton{
  background-color: blue;
  color: black;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 13px;
  font-size: small;
  font-family: 'Arial', Arial;
  text-align: center;
}