
<!-- <ion-header class="ion-no-border">
  <ion-toolbar translucent> <span class="ion-padding" ></span>
    <! <ion-button slot="start" style="font-size: 0.9em" fill="clear" color="light" (click)="exitApp()">
      <img src ="/assets/image/mobile_banner.png" style="width:80px; height: px ;">
    </ion-button> -->
  <!-- </ion-toolbar> -->

  
<!-- </ion-header> --> 

<ion-content fullscreen="true" class="background-image text-center">
 
  <!-- <div style="display: flex; align-items: center; justify-content: center; padding-top: 75px;"> -->
      <!-- <div class="col">
         <img src ="/assets/image/logotabung.png" style="width: 150px; height: 100px;"> 
      </div> -->
  <!-- </div> -->
    <br>
    <br>
    <br>
    
  <div style="height:90%; display: flex; align-items: center; justify-content: center; ">

    <ion-card style="background: #fffeff; border-radius: 30px;" >
      <ion-card-header>
        <ion-row>
          <ion-col>
            <!-- <p class="ion-text-center;" style="color: black; text-align: center;">SELAMAT DATANG </p> -->
            <div style="display: flex; align-items: center; justify-content: center; padding-top: 0px; ">
              <div class="col">
                <img src ="/assets/image/Logoesf.png" />
              </div>    
            </div>
            <h6 style="text-align: center;justify-content: center; font-size: 9px;">
              Sila masukkan nombor kad pengenalan anda tanpa sengkang (-). Pin OTP akan dihantar ke email anda bagi tujuan pengesahan
            </h6>
              <ion-card-content>
                <ion-row>
                  <ion-col>
                  <form>
                    <ion-item style="text-align:center;">
                      <ion-label>
                        <ion-text color="danger">*</ion-text>
                      </ion-label>
                        <ion-input placeholder=" No Kad Pengenalan" required type="text"></ion-input>
                    </ion-item>
                    <ion-button (click)="onSubmit()" class="" expand="block" fill="solid" color="primary" style="text-transform: none; border-radius: 10px; font-size: 0.8em;">SAHKAN NO KAD PENGENALAN</ion-button>
                    
                  </form>
                  
                  </ion-col>
                </ion-row>
               
              </ion-card-content>
            
          </ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>
  </div>
  
 </ion-content>


<!-- <ion-footer class="ion-no-padding ion-no-margin" style="background: #032b91;">
  <ion-button (click)="onSubmit()" class="ion-no-margin" size="medium" color="solid " expand="full" fill="solid">semak no.kad pengenalan</ion-button>
</ion-footer> -->

