<!-- <ion-header class="ion-no-border">
  <ion-toolbar translucent> <span class="ion-padding" style="color: aliceblue;">LOG MASUK</span>
    <ion-button slot="start" style="font-size: 0.9em" fill="clear" color="light" (click)="exitApp()">
      <i class="fa-solid fa-angle-left fa-2xl" style="color: ghostwhite;"></i>
   
    </ion-button>
    
    <ion-button slot="end" style="font-size: 0.9em" fill="clear" color="light" (click)="logout()">
      <i class="fa-duotone fa-right-from-bracket fa-2xl" style="color: ghostwhite;"></i>
    </ion-button>
  </ion-toolbar>
</ion-header> -->
  <!-- <ion-content>
    <div style="display: flex; align-items: center; justify-content: center; padding-top: 35px;">
      <div class="col">
       
      </div>
    </div> 
    <br>

    <ion-content class="background">
      <div class="content">
        <ion-card>
        <ion-card-content>
        <div class="button-action">
          <div class="buttons-action">
            <ion-label fill="clear" color="dark" size="small">
             
              </ion-label> <br>
      
          </div>
        </div>
        
        <div class="buttons-action" style="color: black;">
          <ion-input  placeholder="No Kad Pengenalan" style="padding-left:10px important; font-family:'Arial'"></ion-input><br>
          <ion-input  placeholder="Kata Laluan" style="padding-left:10px important; font-family:'Arial'"></ion-input><br>
          <ion-button (click)="forgotPassword()" class="" expand="block" fill="clear" style="font-size: 11px; text-align: right;">Lupa Kata Laluan</ion-button>
          <ion-button (click)="logmasuk()" class="" expand="block" fill="solid" color="primary" style="text-transform: none;">LOG MASUK</ion-button>
        </div>
      </ion-card-content>
      </ion-card>
        
      </div>
    </ion-content> -->
   <ion-content>
   
    <div style="height: 100%;width: 100%; display: flex; align-items: center; justify-content: center;"><br><br>

      <ion-card style="width: 100%; border-radius: 30px;">
        <ion-card-content>
          <ion-row>
            <div style="display: flex; align-items: center; justify-content: center; padding-top: 20px; ">
              <img src ="/assets/image/Logoesf.png"/>    
          </div>
            <ion-col size="12">
              <form>
                <ion-item style="text-align:center; font-size: 0.9em; padding-top: 2px;">
                  <ion-label>
                    <ion-text color="danger">*</ion-text>
                  </ion-label>
                  <ion-input placeholder="No Kad Pengenalan" required type="text"></ion-input>
                </ion-item>
                <ion-item style="text-align:center; font-size: 0.9em;">
                  <ion-label>
                    <ion-text color="danger">*</ion-text>
                  </ion-label>
                  <ion-input placeholder="Kata Laluan" required type="text"></ion-input>
                </ion-item>
                <div>
                  <ion-button (click)="forgotPassword()" style="font-size: 0.9em; text-transform: none;" color="primary" expand="block" fill="clear">
                   Lupa Kata Laluan
                  </ion-button>
                </div>
                <ion-button (click)="logmasuk()" class="" expand="block" fill="solid" color="primary" style="text-transform: none; border-radius: 10px; font-size: 0.9em;">LOG MASUK</ion-button>
              </form>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
    </ion-content>

 