<ion-tabs>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard">
        <i class="fa-duotone fa-home fa-2xl" style="--fa-primary-color: crimson; --fa-secondary-color: rgb(12, 12, 11); --fa-secondary-opacity: 1.0; text-transform: none;"></i><br>
        <!-- <img src ="/assets/image/icons8-home-50 (1).png" style="width: 50px; height: 50px;"> -->
        <ion-label style="font-size: 9px;">Dashboard</ion-label>
      </ion-tab-button>
      <br>

      <ion-tab-button tab="bayaran">
        <i class="fa-duotone fa-money-check-dollar  fa-2xl" style="--fa-primary-color: crimson; --fa-secondary-color: black; --fa-secondary-opacity: 1.0; text-transform: none;"></i><br>
        <ion-label style="font-size: 9px;">Bayaran</ion-label>
      </ion-tab-button>
      <br>

    <ion-tab-button tab="senarai" >
      <i class="fa-duotone fa-rectangle-list fa-2xl" style="--fa-primary-color: crimson; --fa-secondary-color: black; --fa-secondary-opacity: 1.0; text-transform: none;"></i><br>
      <ion-label style="font-size: 9px;">Akaun</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <i class="fa-duotone fa-user-graduate  fa-2xl" style="--fa-primary-color: crimson; --fa-secondary-color: black; --fa-secondary-opacity: 1.0; text-transform: none;"></i><br>
      <!-- <img src ="/assets/image/icons8-student-64.png" style="width: 35px; height: 35px;"> -->
      <ion-label style="font-size: 9px;">Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>


</ion-tabs>
