

<ion-header class="ion-no-border">
  <ion-toolbar translucent> <span class="ion-padding" style="color: aliceblue; text-align: center ;"><p>MAKLUMAT AKAUN PEMBIAYAAN</p></span>
    <ion-button slot="start" style="font-size: 0.9em" fill="clear" color="light" (click)="back()">
      <i class="fa-solid fa-angle-left fa-2xl" style="color: ghostwhite;"></i><br>
     <!-- <br> <img src ="/assets/image/mypic.jpg" style="width: 35px; height: 35px ; border-radius: 15px; text-align: right;"> -->
    </ion-button>
    
    <ion-button slot="end" style="font-size: 0.9em" fill="clear" color="light" (click)="logout()">
      <i class="fa-duotone fa-right-from-bracket fa-2xl" style="color: ghostwhite;"></i>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="background-image text-center" style="padding-top: 0px;">
  <ion-row>
    <ion-slides pager>
    <ion-slide>
    <ion-col size="12">
      <ion-card class="ion-text-center" style="background-color: #309fdb; color: white; " >
        <ion-card-header style="padding-bottom: 0px; font-size: 0.8em;">
          <ion-card-title style="color: white; font-size: 12px;">No Akaun</ion-card-title>
          <ion-card-title style="color: white; font-size: 12px;">14/06454</ion-card-title>
          <ion-card-title style="color: white; font-size: 12px;">Status Akaun : Tutup</ion-card-title><br>
        </ion-card-header>
      </ion-card>
   
    </ion-col>
  </ion-slide>

  <ion-slide>
    <ion-col size="12">
      <ion-card class="ion-text-center" style="background-color: #309fdb; color: white; " >
        <ion-card-header style="padding-bottom: 0px; font-size: 0.8em;">
          <ion-card-title style="color: white; font-size: 12px;">Ansuran Bulanan</ion-card-title>
          <ion-card-title style="color: white; font-size: 12px;">RM 91.41</ion-card-title>
          <ion-card-title style="color: white; font-size: 12px;"></ion-card-title><br>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-slide>

  <ion-slide>
    <ion-col size="12">
      <ion-card class="ion-text-center" style="background-color: #309fdb; color: white; " >
        <ion-card-header style="padding-bottom: 0px; font-size: 0.8em;">
          <ion-card-title style="color: white; font-size: 12px;">Bulan Ansuran</ion-card-title>
          <ion-card-title style="color: white; font-size: 12px;">64</ion-card-title>
          <ion-card-title style="color: white; font-size: 12px;"></ion-card-title><br>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-slide>

  <ion-slide>
    <ion-col size="12">
      <ion-card class="ion-text-center" style="background-color: #309fdb; color: white; " >
        <ion-card-header style="padding-bottom: 0px; font-size: 0.8em;">
          <ion-card-title style="color: white; font-size: 12px;">Tempoh Ansuran</ion-card-title>
          <ion-card-title style="color: white; font-size: 12px;">06/2018 - 09/2023</ion-card-title>
          <ion-card-title style="color: white; font-size: 12px;"></ion-card-title><br>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-slide>

  <ion-slide>
    <ion-col size="12">
      <ion-card class="ion-text-center" style="background-color: #309fdb; color: white; " >
        <ion-card-header style="padding-bottom: 0px; font-size: 0.8em;">
          <ion-card-title style="color: white; font-size: 12px;">Baki Tertunggak</ion-card-title>
          <ion-card-title style="color: white; font-size: 12px;">RM 0.00</ion-card-title>
          <ion-card-title style="color: white; font-size: 12px;"></ion-card-title><br>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-slide>

  <ion-slide>
    <ion-col size="12">
      <ion-card class="ion-text-center" style="background-color: #309fdb; color: white; " >
        <ion-card-header style="padding-bottom: 0px; font-size: 0.8em;">
          <ion-card-title style="color: white; font-size: 12px;">Baki Terkini</ion-card-title>
          <ion-card-title style="color: white; font-size: 12px;">RM 0.00</ion-card-title>
          <ion-card-title style="color: white; font-size: 12px;"></ion-card-title><br>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-slide>

  </ion-slides>
  
  </ion-row>
  <ion-grid fixed>
    <ion-row >
      <ion-col size="12">
        <ion-card style="border-radius: 8px; background: #ffffff;">
          <ion-row>
  
            <ion-col class="ion-text-center" size="4">
               <ion-button (click)="lejer()" expand="block" fill="clear" shape="round">
                <img src ="/assets/image/icons8-transaction-list-64.png"style="width:35px; height:35px"><br>
              </ion-button>
              <ion-label style="font-size: 10px; color: black;">Penyata Hutang</ion-label>
            </ion-col>
            
            <ion-col class="ion-text-center" size="4">
              <ion-button (click)="jadual()" expand="block" fill="clear" shape="round">
                <img src ="/assets/image/icons8-check-48.png" style="width:35px; height:35px"><br>
              </ion-button>
              <ion-label style="font-size: 10px; color: black;">Jadual Bayaran Balik</ion-label>
            </ion-col>
  
            <ion-col class="ion-text-center" size="4">
              <ion-button (click)="maklumat()" expand="block" fill="clear" shape="round">
                <img src ="/assets/image/icons8-family-30.png" style="width: 40px; height: 40px"><br>
              </ion-button>
              <ion-label style="font-size: 10px; color: black;">Maklumat Keluarga</ion-label>
            </ion-col>

            <!-- <ion-col class="ion-text-center" size="4">
              <ion-button (click)="jadual()" expand="block" fill="clear" shape="round">
                <img src ="/assets/image/icons8-check-list-65.png" style="width:35px; height:35px"><br>
              </ion-button>
              <ion-label style="font-size: 10px;">Jadual Bayaran Balik</ion-label>
            </ion-col>
  
            <ion-col class="ion-text-center" size="4">
              <ion-button (click)="maklumat()" expand="block" fill="clear" shape="round">
                <img src ="/assets/image/icons8-calculator-64.png" style="width:35px; height:35px"><br>
              </ion-button>
              <ion-label style="font-size: 10px;">Maklumat Keluarga</ion-label>
            </ion-col> -->
          </ion-row>
  
        </ion-card>
      </ion-col>
  
    </ion-row>
  </ion-grid>



 

  <!-- <ion-card-content style="border-radius: 8px; "> -->
  <ion-row>

    <ion-col size="6">
     
      <ion-item>
        <ion-label position="stacked">Kategori<br>Pembayar</ion-label>
        <ion-input readonly="true">Ikut Jadual</ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label position="stacked">Status<br>Undang-undang</ion-label>
        <ion-input readonly="true">Tiada</ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label position="stacked">Tarikh<br>Tutup Lejar</ion-label>
        <ion-input readonly="true">-</ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label position="stacked">Status<br>Bankrup</ion-label>
        <ion-input readonly="true">-</ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label position="stacked">Meninggal<br>Dunia</ion-label>
        <ion-input readonly="true">-</ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label position="stacked">Penangguhan<br><br></ion-label>
        <ion-input readonly="true">-</ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
    <ion-row>
      <ion-col>

        <ion-item>
          <ion-label position="stacked">Program Pembiayaan</ion-label>
          <ion-input readonly="true">Pinjaman Lepasan Sekolah</ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Jenis Pembiayaan</ion-label>
          <ion-input readonly="true">Konvensional</ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Pembiayaan Di luluskan</ion-label>
          <ion-input readonly="true">8,100.00</ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Status Pembiayaan</ion-label>
          <ion-input readonly="true">PERJANJIAN_LENGKAP</ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Tarikh Kelulusan</ion-label>
          <ion-input readonly="true">04/02/2015</ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Tahun Pengambilan</ion-label>
          <ion-input readonly="true">2015</ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Kadar Caj tadbir / Keuntungan</ion-label>
          <ion-input readonly="true">3.00</ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Pembiayaan Sebenar</ion-label>
          <ion-input readonly="true">8,100.00</ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Penyedia Latihan</ion-label>
          <ion-input readonly="true">102661 - Kolej Pisang</ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Kod/Nama Kursus</ion-label>
          <ion-input readonly="true">IT-030-3-2013 - Pengurusan Penyelia Pejabat</ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Tarikh Mula Latihan</ion-label>
          <ion-input readonly="true">09/09/2014</ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Tarikh Tamat Latihan</ion-label>
          <ion-input readonly="true">09/09/2014</ion-input>
        </ion-item>
    
      
      </ion-col>
    
    </ion-row>
  <!-- </ion-card-content> -->
</ion-content>
