<!-- <ion-header class="ion-no-border">
    <ion-toolbar translucent> <span class="ion-padding" style="color: aliceblue;">DAFTAR BARU</span>
      <ion-button slot="start" style="font-size: 0.9em" fill="clear" color="light" (click)="exitApp()">
        <i class="fa-solid fa-angle-left fa-2xl" style="color: ghostwhite;"></i>
        < <img src ="/assets/image/mobile_banner.png" style="width:80px; height: px ;"> -->
      <!-- </ion-button>
      
      <ion-button slot="end" style="font-size: 0.9em" fill="clear" color="light" (click)="exitApp()">
        <i class="fa-duotone fa-right-from-bracket fa-2xl" style="color: ghostwhite;"></i>
      </ion-button>
    </ion-toolbar>
  </ion-header> --> 



<!-- <ion-content>
  <div style="display: flex; align-items: center; justify-content: center; padding-top: 100px;">
    
  </div> 
<br>
<br>
        <div class="content">
          <ion-card style="border-radius: 30px;">
            <ion-card-content style="box-shadow: 15rem;">
          
          <div class="buttons-action" style="color: black;">
            <ion-input placeholder="No Kad Pengenalan" style="padding-left:10px important; font-family:'Arial'"></ion-input><br>
            <ion-input placeholder="Emel" style="padding-left:10px important; font-family:' Arial'"></ion-input><br>
            <ion-input placeholder="No Telefon" style="padding-left:10px important; font-family:' Arial'"></ion-input><br>
            <ion-input placeholder="Kata Laluan" style="padding-left:10px important; font-family:' Arial'"></ion-input><br>
            <ion-input placeholder="Sahkan Kata Laluan" style="padding-left:10px important; font-family:' Arial'"></ion-input><br>
            <ion-button (click)="Daftar()" class="" expand="block" fill="solid" color="primary" > DAFTAR </ion-button>
          </div>
        </ion-card-content>
        </ion-card>
          
        </div>
      
    </ion-content> -->
<ion-content>
    <div style="height: 100%; width: 100%; display: flex; align-items: center; justify-content: center;">
      
      <ion-card style="border-radius: 30px;">
        <ion-card-content>
          <ion-row>
            <ion-col size="12">
              <div style="display: flex; align-items: center; justify-content: center; padding-top: 0px; ">
                <div class="col">
                  <img src ="/assets/image/Logoesf.png" />
                </div>    
              </div>
              <form>
                <ion-item style="text-align:center; font-size: 0.9em;">
                  <ion-label>
                    <ion-text color="danger">*</ion-text>
                  </ion-label>
                  <ion-input placeholder="No Kad Pengenalan" required type="text"></ion-input>
                </ion-item>
                <ion-item style="text-align:center; font-size: 0.9em;">
                  <ion-label>
                    <ion-text color="danger">*</ion-text>
                  </ion-label>
                  <ion-input placeholder="Email" required type="text"></ion-input>
                </ion-item>
                <ion-item style="text-align:center; font-size: 0.9em;">
                  <ion-label>
                    <ion-text color="danger">*</ion-text>
                  </ion-label>
                  <ion-input placeholder="No Telefon" required type="text"></ion-input>
                </ion-item>
                <ion-item style="text-align:center; font-size: 0.9em;">
                  <ion-label>
                    <ion-text color="danger">*</ion-text>
                  </ion-label>
                  <ion-input placeholder="Kata Laluan" required type="text"></ion-input>
                </ion-item>
                <ion-item style="text-align:center; font-size: 0.9em;">
                  <ion-label>
                    <ion-text color="danger">*</ion-text>
                  </ion-label>
                  <ion-input placeholder="Sahkan Kata Laluan" required type="text"></ion-input>
                </ion-item>
              </form>
              <br>
              <ion-button (click)="Daftar()" class="" expand="block" fill="solid" color="primary" style="border-radius: 10px; font-size: 0.9em;" > DAFTAR </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  
  </ion-content>

         
 

  
