// /* Popover Interface: set color for the popover using Item's CSS variables */
// .my-custom-interface .brown-option {
//     --color: #5e3e2c;
//     --color-hover: #362419;
//   }
ion-toolbar {
  --background: #032b91;
  font-size: 13px;
}

ion-content {
  --background: url(/assets/image/background.jpg)0 0/100% 100% no-repeat;
  }
ion-footer {
--background: #032b91;
}