ion-toolbar {
  --background: #032b91;
}
// ion-content.background{
//   --background:url(/assets/image/background.jpg) ;
// }

ion-content {
--background-color: #ffffff;
}
ion-item {
  --background-color: #13b6cf ;
}
ion-footer {
--background: #032b91;
}




  // div {
  //   background-color: inherit;
  //   border: 0px;
  // }
  
  // ion-card-header {
  //   background-color: red;
  //   border-radius: 10px 10px 0px 0px;
  // }
  
  // ion-card-content {
  //   background-color: blue;
  //   border-radius: 0px 0px 10px 10px;
  // }

 