ion-toolbar {
  --background: #032b91;
}
// ion-content.background{
//   --background:url(/assets/image/background.jpg) ;
// }

ion-content {
--background-color: #ffffff;
}
ion-item {
  --background-color: #13b6cf ;
}
ion-footer {
--background: #032b91;
}


  * {
    box-sizing: border-box;
  }
 
  
  body {
    font-family: Arial, Helvetica, sans-serif ;
    
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
  
   /* Style the counter cards */
   
  .card {
     border: 5px solid rgb(255, 254, 254);
    border-radius: 1000px  ;
    box-shadow: 0 4px 8px 0 rgba(17, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    background-color: #111111;
  }

  // div {
  //   background-color: inherit;
  //   border: 0px;
  // }
  
  // ion-card-header {
  //   background-color: red;
  //   border-radius: 10px 10px 0px 0px;
  // }
  
  // ion-card-content {
  //   background-color: blue;
  //   border-radius: 0px 0px 10px 10px;
  // }

 