<!-- <ion-header class="ion-no-border">
  <ion-toolbar translucent> <span class="ion-padding" style="color: aliceblue;">LUPA KATALALUAN</span>
    <ion-button slot="start" style="font-size: 0.9em" fill="clear" color="light" (click)="back()">
      <i class="fa-solid fa-angle-left fa-2xl" style="color: ghostwhite;"></i>
       <img src ="/assets/image/mobile_banner.png" style="width:80px; height: px ;"> -->
    <!-- </ion-button>
    
    <ion-button slot="end" style="font-size: 0.9em" fill="clear" color="light" (click)="exitApp()">
      <i class="fa-duotone fa-right-from-bracket fa-2xl" style="color: ghostwhite;"></i>
    </ion-button>
  </ion-toolbar>
</ion-header>  -->


<ion-content>
   
  <div style="height: 100%;width: 100%; display: flex; align-items: center; justify-content: center;">

    <ion-card style="width: 100%; border-radius: 30px;">
      <ion-card-content>
        <ion-row>
          <div style="display: flex; align-items: center; justify-content: center; padding-top: Spx; ">
            <div class="col">
            <img src ="/assets/image/Logoesf.png"/>    
          </div>
        </div>
          <ion-label class="ion-text-center" style="color: black; font-size: 0.9em;" >Sila Masukkan nombor kad pengenalan dan email anda.</ion-label><br>
          <ion-col size="12">
            <form>
              <ion-item style="text-align:center; font-size: 0.9em;">
                <ion-label>
                  <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input placeholder="Masukkan Nombor Kad Pengenalan" required type="text"></ion-input>
              </ion-item>
              <ion-item style="text-align:center; font-size: 0.9em;">
                <ion-label>
                  <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input placeholder="Masukkan Email" required type="text"></ion-input>
              </ion-item>
              <br>
            </form>
              <ion-button (click)="Send()" class="" expand="block" fill="solid" color="primary" style="text-transform: none; border-radius: 10px; font-size: 0.9em;">HANTAR</ion-button>
       
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
  </ion-content>




<!-- <ion-content class="background" style="padding-top: 35px;">
  <div class="content" style="padding-top: px;">
    <ion-card>
    <ion-card-content>
    <div class="button-action">
      <div class="buttons-action">
           <img src="/assets/image/logotabung.png"/> -->
      <!-- </div>
    </div>
    <h6 style="color: black; text-align: center;">Sila Masukkan nombor kad pengenalan dan email anda </h6><br>
    <div class="buttons-action">
      <ion-label style="text-align: center; color: black;">
      <ion-input  placeholder="No Kad Pengenalan" style="padding-left:10px important; font-family:'Arial'; color: black;" ></ion-input><br>
      <ion-input  placeholder="Email" style="padding-left:10px important; font-family:'Arial'"></ion-input><br>
      <ion-button style=border-radius:10px;  (click)="Send()" class="" expand="block" fill="solid" color="primary" >semak</ion-button>
      </ion-label>
    </div>
  </ion-card-content>
  </ion-card>
    
  </div> --> 

  
